.nav {
  background: #1b9cff;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 3.2em;
  overflow: hidden;
}

.nav-extra {
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 30px;
  height: 3.2em;
  background: white;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
  width: 50vw;
  -webkit-animation-name: navwhite;
          animation-name: navwhite;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  overflow: hidden;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes navwhite {
  0% {
    right: -50vw;
    -webkit-transform: skewX(0);
            transform: skewX(0);
  }
  70% {
    right: 30px;
    -webkit-transform: skewX(0);
            transform: skewX(0);
  }
  100% {
    right: 30px;
    -webkit-transform: skewX(-20deg);
            transform: skewX(-20deg);
  }
}

@keyframes navwhite {
  0% {
    right: -50vw;
    -webkit-transform: skewX(0);
            transform: skewX(0);
  }
  70% {
    right: 30px;
    -webkit-transform: skewX(0);
            transform: skewX(0);
  }
  100% {
    right: 30px;
    -webkit-transform: skewX(-20deg);
            transform: skewX(-20deg);
  }
}

.nav-right {
  position: relative;
  z-index: 200;
  width: 50vw;
  right: auto;
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation-name: navright;
          animation-name: navright;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.nav-right .nav-text {
  margin-left: 0.4em;
}

.nav-right::-webkit-scrollbar {
  overflow: hidden;
  background: white;
  width: 1px;
  height: 1px;
}

@-webkit-keyframes navright {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
    top: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes navright {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
    top: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav-left {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1em;
}

.morehoriz {
  -webkit-animation-name: morehorizt;
          animation-name: morehorizt;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 2;
          animation-duration: 2;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes morehorizt {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 30px;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes morehorizt {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 30px;
  }
  100% {
    margin-left: 0;
  }
}

.morevert {
  -webkit-animation-name: morevert;
          animation-name: morevert;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 2;
          animation-duration: 2;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@media screen and (min-width: 500px) {
  .nav-right .nav-text {
    margin-left: 1.3em;
  }
  .nav-left {
    margin-left: 4em;
  }
}
/*# sourceMappingURL=customsheet.css.map */